use flake
EDITOR=/home/ghostiegirl/Profane/badnvim/result/bin/nvim
VISUAL=/home/ghostiegirl/Profane/badnvim/result/bin/nvim
export PYTHONPATH="/home/ghostiegirl/Flesh/data-structures/cs152-repository-LakesReflection:$PYTHONPATH"

